.navbarContainer {
  color: white;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #131921;

  .left {
    display: flex;
    flex: 2.75;
    align-items: center;

    .logoContainer {
      cursor: pointer;
      padding: 10px;
      margin: 10px;
      margin-top: 15px;
      background-color: #131921;
      .hamburger {
        display: none;
      }
      img {
        width: 96px;
        height: 28px;
      }
    }
    .locationContainer {
      font-weight: 500;
      display: flex;
      font-size: 12px;
      align-items: center;
      cursor: pointer;
      justify-content: center;

      .deliveryInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
      }
      .deliveryName {
        color: gray;
        margin-bottom: -15px;
      }
      .deliveryAdress {
        padding-top: 5px;
        p {
          font-weight: bold;
          letter-spacing: 0.02cm;
        }
      }
    }
  }
  .search {
    display: flex;
    flex: 8.5;
    .inputContainer {
      width: 100%;
      height: 37px;
      background-color: #febd69;
      border: none;
      display: flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      img {
        padding: 0px 10px;
      }
      select {
        cursor: pointer;

        border-radius: 2px;
        background-color: #dee3e8;
        height: 90%;
        border: none;
        max-width: fit-content;
        // width: 7%;
        margin-left: 2px;
        margin-right: -1px;
      }
    }
    .searchInput {
      margin-left: 2px;
      width: 86%;

      height: 32px;
      border: 2px;
    }
    .searchInput:focus {
      outline: none;
    }
  }
  .right {
    display: flex;
    flex: 4;
    .languageContainer {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      margin-right: 20px;
      .langIcon {
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .accountContainer {
      cursor: pointer;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      .icon {
        display: none;
      }
      .helloSpan {
        font-size: 12px;
        margin-bottom: -5px;
      }
      .helloSpan2 {
        display: none;
      }

      .accountSpan {
        font-weight: 500;
        font-size: 16px;
      }
    }
    .orderReturnContainer {
      cursor: pointer;

      display: flex;
      flex-direction: column;
      margin: 0px 30px 0 10px;
      .returnsSpan {
        font-size: 12px;
        margin-bottom: -5px;
      }
      .ordersSpan {
        font-weight: 500;
        font-size: 16px;
      }
    }
    .cartContainer {
      cursor: pointer;

      display: flex;
      .cartIconContainer {
        position: relative;
      }
      .cartCounter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        background-color: #fa6f25;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 12px;
        font-weight: bold;
      }

      .cartSpan {
        font-weight: 500;
        display: flex;
        align-items: end;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .search {
    display: flex;
    .inputContainer {
      width: 100%;
      height: 35px;
      background-color: #febd69;
      border: none;
      display: flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      img {
        padding: 0px 10px;
      }
    }
    .searchInput {
      border-radius: 5px;
      width: 86%;
      height: 32px;
      border: 2px;
      margin-left: 2px;
    }
    .searchInput:focus {
      outline: none;
    }
  }
  .navbarContainer {
    background-color: #232f3e;
    .left {
      flex: 1;
      justify-content: space-around;
      .locationContainer {
        display: none;
      }
      .logoContainer {
        background-color: #232f3e;

        display: flex;
        align-items: center;
        justify-content: start;
        img {
          width: 64px;
          height: 20px;
        }
        .hamburger {
          display: flex;
          align-items: start;
          justify-content: start;
          margin-right: 10px;
        }
      }
    }
    .search {
      display: none;
    }
    .right {
      flex: 1;
      justify-content: end;
      margin-right: 30px;
      .orderReturnContainer,
      .languageContainer {
        display: none;
      }
      .cartContainer {
        img {
          width: 24px;
        }
        .cartSpan {
          display: none;
        }
      }
      .accountContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .icon {
          display: flex;
        }
        .helloSpan {
          display: none;
        }
        .helloSpan2 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
        }
        .accountSpan {
          display: none;
        }
      }
    }
  }
}
